@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

body {
    font-family: "Josefin Sans", sans-serif;
}

@theme {
    --color-pink-400: hsl(0, 36%, 70%);
    --color-red-500: hsl(0, 93%, 68%);
    --bg-gradiente-1: linear-gradient(135deg,
            hsl(0, 0%, 100%),
            hsl(0, 100%, 98%));

    --bg-gradiente-2: linear-gradient(135deg,
            hsl(0, 80%, 86%),
            hsl(0, 74%, 74%));
}